@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.text-align {
  justify-content: center;
}

.button.large-text {
  font-size: 1rem;
  text-align: center;
}

.centered-select {
  text-align-last: center;  
  text-align: center; 
}

.centered-option {
  text-align: center;  
}